.preview-container {
  width: 210mm;  /* A4 width */
  margin: 0 auto;
  background-color: white;
  color: black;
}

.preview-content {
  padding: 5mm;  /* Typical margins for a document */
}

.intro {
  background-color: cadetblue;
  margin: -5mm -5mm 0mm -5mm;  /* Negative margin to cover the padding */
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.introRight {
  margin-right: 10px;
}

i {
    padding-right: 4px;
}

 .previewHeading {
  position: relative;
  margin: 5mm 0 5mm;
  page-break-after: avoid;
}

 .previewHeading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.entry {
  margin-bottom: 5mm;
  page-break-inside: avoid;
}

.educationRow {
  display: grid;
  grid-template-columns: 1fr 1.25fr 1.25fr 0.75fr;
}

@media print {
  body {
    margin: 0;
    padding: 0;
  }
  
  .preview-container {
    width: 210mm;
    height: 297mm;  /* A4 height */
    page-break-after: always;
  }

  .preview-content {
    height: 100%;
  }

  h2, .entry {
    page-break-inside: avoid;
  }
}
