.app {
  display: flex;
}

.leftSide {
  width: 35vw;
  padding-right: 2vw;
  overflow: scroll;
}

.rightSide {
  width: 64vw;
  overflow: scroll;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  padding: 30px 50px;
}

input {
  padding-left: 4px;
  margin-left: 10px;
}
