.app {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.leftSide {
  width: 35vw;
  padding-right: 2vw;
  overflow: scroll;
}

.rightSide {
  width: 64vw;
  overflow: scroll;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  padding: 20px 50px;
}

input {
  padding-left: 4px;
  margin-left: 10px;
}

button {
  margin: 15px 42% 0 42%;
  padding: 10px 20px;
  font-size: 16px;
  width: 160px;
  background-color: cadetblue;
  color: black;
  border: 2px solid rgba(4, 10, 12, 0.263);
}
